<footer class="bg-body-tertiary mt-5">
    <div class="container">
            <div class="row mt-4 p-3">
        <div class="col-md-4 mb-3">
            <div class="card">
                <a href="" class="card-body text-decoration-none py-2" style="min-height: 180px;">
                    <h5 class="card-title">Artikel</h5>
                    <hr>
                    <p class="card-text">Baca artikel kesehatan terbaru kami.</p>
                </a>
            </div>
        </div>
        <div class="col-md-4 mb-3">
            <div class="card">
                <a href="" class="card-body text-decoration-none py-2" style="min-height: 180px;">
                    <h5 class="card-title">Card 2</h5>
                    <hr>
                    <p class="card-text">Content 2.</p>
                </a>
            </div>
        </div>
        <div class="col-md-4 mb-3">
            <div class="card">
                <a href="" class="card-body text-decoration-none py-2" style="min-height: 180px;">
                    <h5 class="card-title">Card 3</h5>
                    <hr>
                    <p class="card-text">Content 3.</p>
                </a>
            </div>
        </div>
    </div>
    </div>
    <div class="p-3 text-center mt-4 bg-dark text-white mt-5" style="height: 100px;">
        <p>&copy; 2023 Health C. All rights reserved.</p>
    </div>
</footer>